:root {
	--theme-color: #b00000;
}

* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

header {
	background: var(--theme-color) url("../assets/ennuimiddleflap.jpg");
	background-size: cover;
	text-align: center;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	white-space: nowrap;
}

table {
	border-collapse: collapse;
}

th {
	text-align: right;
}

th, td {
	padding: 0.5em;
}

li {
	list-style-position: inside;
}

.parenthetical {
	font-size: .7em;
}

.bracket {
	padding-right: 0;
	padding-left: 0;
}

.bordered {
	border: 1px solid darkgrey;
}

a:link {
	color: black;
}
a:visited {
	color: var(--theme-color);
}
a:active {
	color: var(--theme-color);
}
a:hover {
	color: red;
}
